.projectLinks 
{
    position: fixed;
    /* border: solid; */

    width: 200px;
    height: 0px;

    top: 150px;
    left: 50px;
}

.infoLinks {
    position: fixed;
    /* border: solid; */

    width: 200px;
    height: 0px;

    top: 150px;
    right: 50px;
}

.projectInfo
{
    position: fixed;
    /* border: solid; */

    height: 0px;

    top: 150px;
    right: 500px;
}

.canvasBackground {
    opacity: 0.2;
    background-color: white;
}

@media only screen and (max-width: 820px)
{
    .projectLinks 
    {
        display: none;
    }

    .projectInfo
    {
        display: none;
    }

    .infoLinks
    {
        display: none;
    }
}

