.imgCon{
    height: 200px;
    width: 200px;

    border-radius: 50%
}

.titleCon{
    align-content: center;
    text-align: center;
    font-family: 'Arvo', serif;
}

.descCon{
    text-align: center;
    font-family: 'Arvo', serif;
    font-size: 18px;
}

.break{
    height: 50px;
}
